*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}
body{
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    #5656FF,
    #8989FF,
    #abbaFF
  );
  position: relative;
  opacity: 0;
  animation: flash 1s ease-out forwards;
}
@keyframes flash {
  to{
    opacity: 1;
  }
}
#background{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;
}
h1{
  color: #fff;
  text-align: center;
  margin-top: 5%;
  text-shadow: 4px 4px 5px #000;
  font-size: 42px;
  text-transform: uppercase;
  z-index: 10;
  position: relative;
}
#logoLoader{
  display: none;
}
.emoji{
  max-width: 75px;
  position: relative;
  filter: drop-shadow(4px 4px 4px #464646);
}
#divPrincipal{
  background-color: #bbbbF0;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 5px #464646;
  z-index: 5;
}
#pCity{
  margin-top: 3vh;
  font-weight: bold;
}
tr, th, td{
  border: 1px solid black;
  padding: 2px;
  text-align: left;
}
table{
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-collapse : collapse;
  width: 80%;
}
th{
  width: 70%;
}
#pBarPol{
  width: 80%;
  text-align: left;
  margin-top: 2vh;
}
#pointeur{
  height: 25px;
  left: 37px;
  position: absolute;
  rotate: 180deg;
  margin-top: 30px;
}
#barPol{
  display: flex;
  flex-direction: row;
  width: 80%;
}
.divBarPol{
  height: 10px;
  margin-top: 2vh;
  flex-grow: 1;
}
.divBarPol:not(:last-child){
  border-right: 2px solid #bbbbF0;
}
.divBarPol:nth-child(1){
  background-color: green;
}
.divBarPol:nth-child(2){
  background-color: greenyellow;
}
.divBarPol:nth-child(3){
  background-color: orange;
}
.divBarPol:nth-child(4){
  background-color: red;
}
.divBarPol:nth-child(5){
  flex-grow: 2;
  background-color: purple;
}
.divBarPol:nth-child(6){
  flex-grow: 4;
  background-color: maroon;
}